/* CreateSurveyScreen.css */

/* Container styles */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the content horizontally */
}

/* Form styles */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left; /* Align form labels and inputs to the left */
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea,
select {
  width: 20%; /* Make form inputs span the container width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 0; /* Adjust vertical padding */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Additional styles for specific form elements */
#ProfileImage {
  margin-top: 10px;
}

/* Responsive styles */
@media screen and (max-width: 1921px) {
  .container {
    max-width: 100%;
    padding: 20px 10px;
  }
}
