.user-card {
  display: flex;
  column-gap: 1em;
  align-items: start ;
  justify-content: start;
  margin-bottom: 1.5em;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.user-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h2 {
  font-size: 1.2em;
  color: #333;
}

.user-info p {
  font-size: 0.9em;
  color: #666;
}

.chat-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.chat-button {
  background-color: transparent;
  border: none;
}

@media (max-width: 1024px) {
  .user-card {
    width: calc(22.333% - 40px); /* 3 cartes par ligne sur tablettes */
  }
}

@media (max-width: 768px) {
  .user-card {
    width: calc(50% - 40px); /* 2 cartes par ligne sur mobiles */
  }
}

@media (max-width: 480px) {
  .user-card {
    width: 100%; /* 1 carte par ligne sur très petits écrans */
  }
}
