.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.user-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  text-align: center;
}

.user-info h2 {
  font-size: 1.2em;
  color: #333;
  margin-top: 1em;
}

.user-info p {
  font-size: 0.9em;
  color: #666;
}

.user-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.company {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.company span {
  font-size: 0.9em;
  color: #666;
  margin: 1em 0;
}

.company-logo img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.chat-button {
  background-color: transparent;
  border: 1px solid #4a4e69;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 0.3em 1em;
}

.chat-button:hover {
  background-color: #4a4e69;
  color: white;
}
