.visibility-group {
  display: flex;
  margin: 1em 0;
}

.radio-group label {
  display: inline;
}

.radio-group input {
  margin-right: 0.5em;
}

.sidebar-item {
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: sticky;
  top: 6em;
}