.visibility-group {
  display: flex;
  margin: 1em 0;
}

.radio-group label {
  display: inline;
}

.radio-group input {
  margin-right: 0.5em;
}

.img-upload input[type="file"] {
  display: none;
}

.img-upload label {
  margin: 1em 0;
  cursor: pointer;
}
