.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2em;
  margin: 2em;
}

.createPost {
  width: 50%;
}

#createPost-btn {
  width: 33%;
  padding: 0.1em;
}

form {
  width: 100%;
  margin: 1em;
}

.title-content input[type="text"] {
  width: 100%;
}

.visibility-group {
  display: flex;
  margin: 1em 0;
}

.radio-group label {
  display: inline;
}

.radio-group input {
  margin-right: 0.5em;
}

.img-upload input[type=file] {
  display: none;
}

.img-upload label {
  margin: 1em 0;
  cursor: pointer;
}