.username {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.5em;
}

.profile {
  display: flex;
  align-items: center;
}

/* To be replaced by actual Profile Image */
.profileImgDiv {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 0.5em;
}

.profileImgDiv img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1em;
}

.surveyOption {
  display: flex;
  margin: 0.8em 0.8em 1em 0;
}

.vote-result {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.progress {
  width: 60%;
  margin: 0.7em 0.7em 0.7em 0;
}

.voting-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
}

.comment {
  display: flex;
  align-items: flex-start;
}

/* .profileImgDiv-comments {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 0.5em;
} */

.profileImgDiv-comments img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5em;
}

.username-comments {
  font-weight: 600;
  font-size: 0.8em;
}

#comment-content {
  font-size: 0.8em;
}