.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* Appliquer la même taille à tous les input, textarea et select /  */
.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.mdp {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Style pour le lien dans la section  */

.mdp a {
  color: #007bff;
  text-decoration: none;
  color: white;
}

.mdp button {
  font-size: 18px;
}

.profile-image-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
