.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6em 0 0 0;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

.centered-text {
  text-align: center;
}

#hero-title {
  font-weight: 900;
  font-size: 4em;
  margin-bottom: 0.7em;
}

#hero-text {
  font-size: 1.5em;
  color: #888;
}

.hero-button {
  background-color: #4a4e69;
  border: none;
  color: white;
  padding: 0.7em;
  border-radius: 8px;
  margin: 1.5em 0;
  text-decoration: none;
}

#hero-image {
  position: relative;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1em 0;
  z-index: 10;
}

#features {
  width: 100vw;
  flex-direction: column;
  margin: -13em 0 0 0;
  padding: 15em 2em 5em 2em;
  background-color: #4a4e69;
  color: white;
  z-index: 1;
}

#features-title {
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 1em;
}

.feature-icon {
  font-size: 2em;
  margin-bottom: 0.5em;
}

#chat {
  margin: 6em 0;
}

#chat-features {
  margin: 2em;
}

footer {
  width: 100%;
  bottom: 0;
  background-color: #4a4e69;
  color: white;
  padding: 2em 2em 0 2em;
  text-align: center;
}

#footer-logo {
  width: 80px;
  margin: 1em 0;
}