.my-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Utilise la hauteur complète de la vue pour centrer verticalement */
}

.my-profile-container h1 {
  text-align: center;
}

.my-profile-container img {
  width: 150px; /* Ajustez la largeur de l'image selon vos besoins */
  height: 150px; /* Ajustez la hauteur de l'image selon vos besoins */
  object-fit: cover;
  border-radius: 50%; /* Pour rendre l'image circulaire */
  margin-bottom: 20px; /* Espacement en bas de l'image */
}

.my-profile-container p {
  margin: 5px 0; /* Espacement entre les paragraphes */
  text-align: center;
}

#editProfile-btn {
  padding: 10px 20px; /* Ajustez la taille du bouton selon vos besoins */
  margin-top: 10px; /* Espacement en haut du bouton */
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ajoutez des styles spécifiques à la modale de chat si nécessaire */
