.username {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.5em;
}

.profile {
  display: flex;
  align-items: center;
}

/* To be replaced by actual Profile Image */
.profileImgDiv {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 0.5em;
}

.profileImgDiv img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1em;
}

.surveyOption {
  margin: 0.8em 0.8em 1em 0;
}
