.card {
  width: 500px;
  /* padding: 2em; */
  /* border: 1px solid #ccc; */
  margin: 1em 1em 1em 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card-body {
  text-align: left;
  padding: 1em 1em 0;
}

.card-title {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.card-text {
  font-size: 0.9em;
}

.card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* border-radius: 5px 5px 0 0; */
}

.card-actions {
  display: flex;
  justify-content: start;
  padding: 0 1em 1em;
}

.card-actions button {
  margin-right: 0.5em;
  border: none;
  background-color: transparent;
  font-size: 0.9em;
  cursor: pointer;
}

.username {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.5em;
}

.profile {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

/* To be replaced by actual Profile Image */
.profileImgDiv {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 0.5em;
}

.profileImgDiv img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1em;
}

.context-btn {
  border: none;
  background-color: transparent;
  font-size: 0.9em;
  cursor: pointer;
}

/* .post-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  top: 32%;
  left: 38.5%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: right;
  padding: 1em;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
} */

.editPostmodal {
  position: fixed;
  width: 30em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: left;
  padding: 1em;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.deletePostmodal {
  position: fixed;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: left;
  padding: 1em;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.postMenuBtn {
  margin: 0.5em;
  border: none;
  background-color: transparent;
  font-size: 0.9em;
  cursor: pointer;
}
