.BarNav-loggedIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a4e69;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

.BarNav-loggedOut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

/* Style de l'élément de profil */
.profileItem {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* Style de l'image de profil */
.profile-image img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.navbar_logo {
  width: 60px;
}

/* Style de la liste de liens */
.NavLinks-BarNav {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: left;
}

/* Style des liens */
.NavLinks-BarNav li a {
  color: #4a4e69;
  text-decoration: none;
  transition: color 0.3s ease;
}

.NavLinks-BarNav li a:hover {
  color: #9b4110;
}

/* Style des boutons */
.NavLinks-BarNav button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 18px;
}
