.custom-dropdown-menu .dropdown-item {
  color: black;
}

.custom-dropdown-menu .dropdown-item:hover {
  color: black; /* Keeps text color black even on hover */
  background-color: #f8f9fa; /* Optional: Change background color on hover */
}

/* You can also adjust the padding or font size of dropdown items */
.custom-dropdown-menu .dropdown-item {
  width: 400px;
  height: 100px;
}
